/* Importing Office UI Fabric Core */
// @import url('../styles/fface.css');
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
IRANSansXFANum


.pdfGenerator{
  font-family: IRANSansXFANum;
.formButton {
  background-color: darken(#FFBE98, 20%);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.5em;
  text-align: center;
  margin:5px;

  &:hover {
    background-color: darken(#FFBE98, 30%);
  }
}
}
