/* Importing Office UI Fabric Core */
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.pdfGenerator{
.formButton {
  background-color: darken(#FFBE98, 20%);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  margin:5px;

  &:hover {
    background-color: darken(#FFBE98, 30%);
  }
}
}
