@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import url('https://sharepointapp.com/styles%20library/fface.css');




.newItemForm {
  background-color: #f9f9f9;
  padding: 10px;
  font-family: IRANSansXFANum;
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-top: 4px;
  }
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
    &:hover {
      background-color: #555;
    }
    .itemNameColumn {
      width: 15%;
    }

    .pricePerUnitColumn {
      width: 10%;
    }

    .itemNumberColumn {
      width: 10%;
    }

    .totalPriceColumn {
      width: 10%;
    }

    .itemTypeColumn {
      width: 10%;
    }

    .daysColumn {
      width: 10%;
    }

    .descriptionColumn {
      width: 25%;
    }

    .actionsColumn {
      width: 10%;
    }
  }
}
