@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import url('../styles/fface.css');
.projCostTable {
  width: 100%;
  border-collapse: collapse;
  font-family: IRANSansXFANum;
  background-color: #FFBE98;
  padding: 20px;
  border-radius: 5px;
  direction: rtl; // Add RTL support
  .title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: right; // Align text to the right
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: right; // Align text to the right

    }
    th {
      background-color: #f2f2f2;
    }
  }
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
    &:hover {
      background-color: #555;
    }
    .itemNameColumn {
      width: 15%;
    }

    .pricePerUnitColumn {
      width: 10%;
    }

    .itemNumberColumn {
      width: 10%;
    }

    .totalPriceColumn {
      width: 10%;
    }

    .itemTypeColumn {
      width: 10%;
    }

    .daysColumn {
      width: 10%;
    }

    .descriptionColumn {
      width: 25%;
    }

    .actionsColumn {
      width: 10%;
    }
  }
}
