@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// @import url('../../styles/fface.css');

.projCostTableRow {
  font-family: IRANSansXFANum;
  input[type="checkbox"] {
    margin-right: 10px;
  }
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
